body {
    padding-top: 1em;
    height: 100vh;
    background-image: url(Screenshot_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

body::after {
    content: "";
    background: rgb(39, 39, 38);
    position: absolute;
    z-index: 1;
    opacity: .8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wel-mess {
    padding-top: 0.5em;
    padding-left: 4%;
    position: relative;
    z-index: 2;
    font-size: 5em;
    color: bisque;
}

.navig {
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin-inline: 1%;
}

.myLogo {
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 0.7;
}

.myLogo a {
    display: flex;
    height: 100%;
    align-items: center;
}

.git-profile {

}

.git-profile a {
    display: flex;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    size: 100px;
    font-size: 30px;
    background-color: white;
    transition: all 500ms ease;
}

.git-profile a:hover {
    background-color: blueviolet;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 5;
}

.nav-list li {
    display: flex;
    font-size: 25px;
    transition: all 500ms ease;
}

.head-nav-list {
    position: relative;
    transition: all 500ms ease;
}

.head-nav-list::after {
    content: "";
    background-color: wheat;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: all 250ms ease;
}

.head-nav-list:hover {
    color: wheat;
}

.head-nav-list:hover::after {
    transform: scaleX(1);
}

.nav-list li:nth-child(1) {
    color: rgb(153, 0, 255);

}

.logo-pick {
    height: 40px;
}

.nav-list li:nth-child(2) {
    color: rgb(255, 0, 128);
}

.nav-list li:nth-child(3) {
    color: orange;
}

.nav-list li:nth-child(4) {
    color: deeppink;
}

.nav-list li:nth-child(5) {
    color: rgb(20, 141, 255);
}

.site-body {
    height: 2000px;
    width: 200px;
    background-color: black;
}

.nav-collapse {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.collapse-icon{
    display: none;
}


@media screen and (max-width: 1300px) {
    .nav-list{
        display: none;
    }

    .collapse-icon{
        display: inline-block;
        font-size: inherit;
        height: 100%;
        vertical-align: -0.125em;
        cursor: pointer;
    }
}